:root {
    --primary-color: #d5eeff;
    --secondary-color: #007cb9;
    --highlight-color: #fc8218a9;
    --box-shadow: 0 5px 5px #606470;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Shadows Into Light Two', cursive;
}

body {
    margin: 60px auto;
    max-width: 800px;
    background-color: var(--primary-color);
}

h1,
h2,
h3 {
    text-align: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
    font-family: var(--secondary-font);
}

p {
    color: var(--secondary-color);
    padding: 20px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
}

footer {
    text-align: center;
}

.logo {
    max-height: 95px;
}

.name {
    display: none;
}

nav {
    padding: 15px;
    align-items:end;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.dropdown-item {
    margin-bottom: 7px;
}


.hero {
    text-align: center;
    background-color: var(--primary-color);
    padding: 160px 20px;
}

.hero h1 {
    font-weight: bold;
    font-size: 70px;
}

.hero p {
    font-family: var(--primary-font);
    margin: 0px;
}

.content {
    padding: 40px 20px;
}

.links:hover {
    font-weight: bolder;
    font-size: larger;
}

.img-fluid {
    align-items: center;
}

.btn-branding {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 8px 15px;
    margin: auto;
}

.btn-branding:hover{
    background-color: var(--highlight-color);
    color: black;
    border: 1px solid #606470;
}

.btn-branding-outline {
    background: var(--highlight-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 8px 15px;
}

.btn-branding-outline:hover {
    background-color: var(--secondary-color);
    color: white;
}

.button-link {
    align-items: center;
    width: 100%;
    margin: auto;
    
}

@media (max-width: 600px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 38px;
    }
    .hero {
        padding: 80px 20px;
    }

    nav a {
        font-size: 14px;
    }

    .logo {
        display: none;
    }

    .name {
        display: contents;
        color: var(--primary-color);
        font-weight: 600;
    }
}